<?xml version="1.0" encoding="UTF-8"?>
<!--
 Sie4Sdk  PHP Sie4 SDK and Sie5 conversion package

 This file is a part of Sie4Sdk

 author    Kjell-Inge Gustafsson, kigkonsult
 copyright 2021 Kjell-Inge Gustafsson, kigkonsult, All rights reserved
 link      https://kigkonsult.se
 license   Subject matter of licence is the software Sie4Sdk.
           The above package, copyright, link and this licence notice shall be
           included in all copies or substantial portions of the Sie4Sdk.

           Sie4Sdk is free software: you can redistribute it and/or modify
           it under the terms of the GNU Lesser General Public License as
           published by the Free Software Foundation, either version 3 of
           the License, or (at your option) any later version.

           Sie4Sdk is distributed in the hope that it will be useful,
           but WITHOUT ANY WARRANTY; without even the implied warranty of
           MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
           GNU Lesser General Public License for more details.

           You should have received a copy of the GNU Lesser General Public License
           along with Sie4Sdk. If not, see <https://www.gnu.org/licenses/>.
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         bootstrap="autoload.php">
    <testsuites>
        <testsuite name="Generated Sie4Dto Tests">
            <file>test/TestGen.php</file>
        </testsuite>
        <testsuite name="File parse/write Tests">
            <file>test/TestFiles.php</file>
        </testsuite>
    </testsuites>
    <coverage includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="false"
              disableCodeCoverageIgnore="true">
        <!-- ... -->
        <include>
            <file>src/Sie4ELoader.php</file>
            <file>src/Sie4EWriter.php</file>
            <file>src/Sie4ILoader.php</file>
            <file>src/Sie4Interface.php</file>
            <file>src/Sie4IWriter.php</file>
            <file>src/Sie4Parser.php</file>
            <file>src/Sie4Validator.php</file>
            <file>src/Sie4WriterBase.php</file>
            <file>src/Sie5EntryLoader.php</file>
            <file>src/Sie5Loader.php</file>
            <file>src/Api/ArrayBase.php</file>
            <file>src/Api/Array2Sie4Dto.php</file>
            <file>src/Api/Json2Sie4Dto.php</file>
            <file>src/Api/Sie4Dto2Array.php</file>
            <file>src/Api/Sie4Dto2Json.php</file>
            <file>src/Dto/AccountDto.php</file>
            <file>src/Dto/AdressDto.php</file>
            <file>src/Dto/BalansDto.php</file>
            <file>src/Dto/BalansObjektDto.php</file>
            <file>src/Dto/BaseId.php</file>
            <file>src/Dto/DimDto.php</file>
            <file>src/Dto/DimObjektDto.php</file>
            <file>src/Dto/IdDto.php</file>
            <file>src/Dto/Period.php</file>
            <file>src/Dto/RarDto.php</file>
            <file>src/Dto/Sie4Dto.php</file>
            <file>src/Dto/SruDto.php</file>
            <file>src/Dto/TransDto.php</file>
            <file>src/Dto/VerDto.php</file>
            <file>src/Dto/Traits/ArsnrTrait.php</file>
            <file>src/Dto/Traits/DimensionNrTrait.php</file>
            <file>src/Dto/Traits/FnrIdOrgnrTrait.php</file>
            <file>src/Dto/Traits/FnrIdOrgnr2Trait.php</file>
            <file>src/Dto/Traits/KontoNrTrait.php</file>
            <file>src/Dto/Traits/KvantitetTrait.php</file>
            <file>src/Dto/Traits/ObjektNrTrait.php</file>
            <file>src/Dto/Traits/SerieVernrTrait.php</file>
            <file>src/Dto/Traits/SignTrait.php</file>
            <file>src/Util/Assert.php</file>
            <file>src/Util/ArrayUtil.php</file>
            <file>src/Util/DateTimeUtil.php</file>
            <file>src/Util/FileUtil.php</file>
            <file>src/Util/GuidUtil.php</file>
            <file>src/Util/StringUtil.php</file>
        </include>
        <!-- Require the PHP Xdebug (2.7.0 or later) and tokenizer extensions-->
        <!-- Remove or comment after your own choice-->
        <!-- Note, all output in report/logging will be saved in 'testDocs' folder -->
        <report>
            <!-- clover outputFile="testDocs/clover.xml"/ -->
            <!-- crap4j outputFile="testDocs/crap4j.xml" threshold="50"/ -->
            <html outputDirectory="testDocs/PHPUnitCoverage" lowUpperBound="60" highLowerBound="80"/>
            <php outputFile="testDocs/coverage.php"/>
            <text outputFile="testDocs/coverage.txt" showUncoveredFiles="false" showOnlySummary="false"/>
            <!-- xml outputDirectory="testDocs/xml-coverage"/ -->
        </report>
    </coverage>
    <logging>
        <!-- junit outputFile="testDocs/junit.xml"/ -->
        <!-- teamcity outputFile="testDocs/teamcity.txt"/ -->
        <!-- testdoxHtml outputFile="testDocs/testdox.html"/ -->
        <!-- testdoxText outputFile="testDocs/testdox.txt"/ -->
        <!-- testdoxXml outputFile="testDocs/testdox.xml"/ -->
        <text outputFile="testDocs/logfile.txt"/>
    </logging>
    <php>
        <!-- Set max TestGen:genTestProvider test sets -->
        <var name="GENTESTMAX" value="20"/>
    </php>
</phpunit>
